@model IEnumerable<BookLibrary.Kitap>
@{
    ViewData["Title"] = "Index";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Okuduğum Kitaplar</h1>
        <p class="lead text-muted">Kitap eleştirisi,yorumu ve incelemesi</p>
        <p>
            
        </p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <div class="row">
            @foreach (var kitap in Model)
            {
            <div class="card">
                <img src="~/img/@kitap.Image" alt="@kitap.BookName" >
                <p class="card-text">@kitap.BookName</p>
                <small class="text-muted">@kitap.BookType</small>
                <div class="card-footer text-muted">
                    <a asp-controller="Home"
                       asp-action="Details"
                       asp-route-id="@kitap.BookId"
                       class="btn btn-primary">Detaylar</a>

                </div>
            </div>
            }
        </div>
    </div>
</div>



